---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc></url>
{% for cat in site.categories %}  <url><loc>{{ site.url }}/{{ cat.slug }}/</loc></url>
{% endfor %}{% for post in collections.articles %}  <url><loc>{{ site.url }}{{ post.url }}</loc><lastmod>{{ post.data.dateModified or post.data.datePublished }}</lastmod></url>
{% endfor %}</urlset>
